<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">

     <title>Brandon Quinones Home Page</title>

     <meta name="author" content="Brandon Quinones">
     <meta name="keywords" content="words, words">
     <meta name="description" content="words, words.">
</head>

<body>

     <header>
	<h1>Template: TUNA SALAD SANDWICH</h1>
     </header>

<p>I'm currently eating a tuna sandwich while typing this and honestly it's not so good.</p>

<p>This is a fictional site created for a class at El Centro College. Check out the rest of my site!</p>

<p><a href="http://www.elcentrocollege.edu/">El Centro College</a>
<br>
<a href="../index.html">Site</a></p>


     <footer>
	<p><small>&copy;2020, Brandon Quinones Web Design<br>
              Last  Updated: 03/31/2020</small></p> 
     </footer>

</body>
</html>
